<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board1.service.MemberService">

	<insert id="insertMember" parameterType="MemberDTO">
	    INSERT INTO member(   name
	   					    , id 
	   					    , phone)
	                  VALUES( #{name} 	
	                 		, #{id}
	                 		, #{phone})
	</insert>
	<select id="getMemberOne" parameterType="int" resultType="MemberDTO">
	SELECT * FROM member WHERE num = #{num};
	
	</select>
    </mapper>

